body.directive_admin

  #title_bar h2
    font-size: 2em

  #header #utility_nav li ul
    text-align: left

  thead
    background: white

  div#main_content
    colgroup
      display: none
    td.col
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

  div.index_as_table
    th
      padding: 3px 10px 2px 10px
    td
      padding: 4px 12px 2px 12px

  .panel table, table.index_table
    th, td
      &.align-right
        text-align: right

  .attributes_table table
    th, td
      padding-top: 6px
      padding-bottom: 4px

  .sidebar_section
    h3
      padding: 3px 10px 2px 10px

  fieldset .datetime_select .fragments-group
    li
      padding-right: 8px
      display: inline-block
    label
      display: none
