#title_bar h2
  font-size: 2em

div.index_as_table
  th
    padding: 3px 10px 2px 10px
  td
    padding: 5px 12px 3px 12px

fieldset .datetime_select .fragments-group
  li
    padding-right: 8px
    display: inline-block

  label
    display: none

.panel table, table.index_table
  th, td
    &.align-right
      text-align: right

#header #utility_nav li ul
  text-align: left
